header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-size: xx-large;
  font-weight: bolder;
}

footer {
  background-color: #A09BE7;
  color: #FFF2F1;
  bottom: 0;
  min-width: 100%;
  font-size: medium;
  display: flex;
  flex-direction: column;
}

body {
  background: #FFF2F1;
  color: #5F00BA;
  min-height: 100vh;
  font-weight: 500;
  font-size: x-large;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  color: #5F00BA;
  background: #B0FF92;
  font-size: medium;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

textarea {
  display: flex;
  margin: auto;
  background-color: #5F00BA;
  text-align: center;
  color: #D6FF79;
  min-height: 80px;
  line-height: 80px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 5px solid #A09BE7;
  padding: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

p {
  padding: 15px 0;
}

textarea::placeholder {
  color: #D6FF79;
}

svg {
  width: 30px;
  height: 30px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 60%;
  margin: auto;
}

.btns * {
  background: #D6FF79;
}

.spnf {
  margin: 5px 0;
}

.rules {
  color: #DE1A1A;
  font-size: small;
  font-weight: bolder;
}

a:visited {
  color: white;
}
